<div class="container">
  <form class="row row-cols-lg-auto g-3 align-items-center" (submit)="addnote($event);">
    <div class="col-10 p-0 m-0">
      <div class="input-group">
        <div class="input-group-text">
          <img src="assets/img/note.svg" alt="">
        </div>
        <input #noteInput type="text" class="form-control" id="note-input" placeholder="Note..." required>
      </div>
    </div>

    <div class="col-2 p-0 m-0">
      <button type="submit" class="btn btn-primary w-100">Add</button>
    </div>
  </form>

  <!-- -------------------------------------------------------- -->
  <div class="paper">
    <div class="paper-content">
      <ol #notesList id="notes-list">
        <li *ngFor="let item of notes; let i = index">
          {{notes[i]}}
          <a class="delete" (click)="delete_note(i)">Delete</a>
        </li>
      </ol>

      <button *ngIf="viewClearBtn" id="clear-all-btn" class="btn btn-danger" (click)="clear_all()">Clear All</button>
    </div>
  </div>

</div>